{"enc_hidden_dim": 150,
 "latent_distribution": {"dist_type": "vmf", "kappa": 32.0},
 "bert_model_name": "bert_12_768_12",
 "bert_dataset": "book_corpus_wiki_en_uncased",
 "max_seq_len": 128,
 "gamma": 10.0,
 "lr": 0.00005,
 "decoder_lr": 0.005,
 "n_latent": 20,
 "epochs": 3,
 "batch_size": 32,
 "optimizer": "bertadam",
 "n_labels": 7,
 "use_labels": true,
 "classifier_dropout": 0.1,
 "warmup_ratio": 0.1} 
