{"enc_hidden_dim": 250,
 "latent_distribution": {"dist_type": "vmf", "kappa": 32.0},
 "lr": 0.005,
 "n_latent": 20,
 "optimizer": "adam",
 "embedding": {"source": "glove:glove.6B.200d"},
 "epochs": 24,
 "batch_size": 1000,
 "num_enc_layers": 2,
 "enc_dr": 0.0,
 "coherence_loss_wt":0.0,
 "redundancy_loss_wt":0.0,
 "covar_net_layers": 1} 
