alabaster==0.7.12
asn1crypto==0.24.0
Babel==2.6.0
certifi==2019.3.9
cffi==1.11.5
chardet==3.0.4
cryptography==2.4.2
cycler==0.10.0
docutils==0.14
gluonnlp==0.6.0
graphviz==0.8.4
idna==2.8
imagesize==1.1.0
kiwisolver==1.0.1
llvmlite==0.28.0
MarkupSafe==1.1.1
matplotlib==3.0.3
mxnet==1.4.0
numba==0.43.0
numpy==1.14.6
packaging==19.0
pandas==0.24.2
pycosat==0.6.3
pycparser==2.19
Pygments==2.3.1
pyOpenSSL==18.0.0
pyparsing==2.3.1
PySocks==1.6.8
python-dateutil==2.8.0
pytz==2018.9
requests==2.21.0
ruamel-yaml==0.15.46
scikit-learn==0.20.3
scipy==1.2.1
seaborn==0.9.0
six==1.12.0
snowballstemmer==1.2.1
umap-learn==0.3.7
urllib3==1.24.1
