mxnet==1.7.0.post1
gluonnlp==0.9.1
autogluon==0.0.12
mantichora==0.9.5
pandas<1.0
pyLDAvis==2.1.2
pyOpenSSL==18.0.0
PySocks==1.6.8
sacremoses>=0.0.35
sentence-splitter==1.4
scikit-learn<0.23
umap-learn==0.3.7
tabulate>=0.8.7
Sphinx==3.2.1
sphinx-autoapi==1.4.0
sphinx-gallery==0.2.0
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-bibtex==1.0.0
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-svg2pdfconverter==1.1.0
sphinxcontrib-websupport==1.1.0
readthedocs-sphinx-ext
